#all {
    margin: auto;
    width: 1000px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    /* background-image: url("https://i.stack.imgur.com/iPsyl.png"); */
}

#header {
    margin: 5px 0;
    padding: 2px 0 2px 20px;
    font-size: small;
    color: white;
    background-color: black;
}

#contain {
    display: flex;
    width: 100%;
}

#nav, #main {
    min-height: 500px;
}

#nav {
    float: left;
    width: 15%;
    background-color: #eeeeee;
    padding-top: 20px;
}

#nav a {
    display: block;
    padding-left: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    color: #353535;
}

#main {
    float: right;
    width: 85%;
    padding-left: 20px;
}

#icon {
    height: 16px;
    width: 16px;
}

label, input {
    display: block; 
}

label {
    width: 140px; 
    padding-bottom: 5px;
}

input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    font-family: 'Raleway', sans-serif;
}

table {
    font-family: 'Raleway', sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #DDD;
    padding: 8px;
    color: black;
    max-width: 300px;
}

tr:hover {background-color: #DDD;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #EEEEEE;
    color: black;
}

button {
    background-color: #59C3C3;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.2s;
}

button:hover {
    background-color: #83D30E;
}

button:focus {
    outline: none;
}

p {
    background-color: #F2E721;
    color: #252525;
}